<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  <h1>Login</h1>
  <h2>Connex</h2>
  <form action="/login" method="POST">
    <label for="username">Email:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Senha:</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Login</button>
  </form>
  <a href="/register">Não tem uma conta na coneex? Se cadastre agora</a>
</body>
</html>
