<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  <h1>Register</h1>
  <form action="/register" method="POST">
    <label for="username">Email:</label>
    <input type="text" id="username" name="username" required>
    <label for="password">Senha:</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Register</button>
  </form>
  <a href="/login">Você ja tem uma conta? Massa, entre por aqui <3</a>
</body>
</html>
